<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csecau.capstone.homeseek">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwWe-d1o-v3-MefsjoPAmqpBy0nwnXEGw" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SearchActivity"
            android:noHistory="true"/>
        <activity android:name=".BoardActivity" />
        <activity android:name=".SearchwithmapActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".TmapActivity" />
        <activity android:name=".daumAddress"/>
        <activity android:name=".MypageActivity"/>

        <activity android:name=".navigation_main"
            android:theme="@style/AppTheme.NoActionBar"/>
         <activity android:name=".UploadActivity"/>
         <activity android:name=".PostingActivity"/>
         <activity android:name=".testposting"/>
         <activity android:name=".PostingPage"/>
         <activity android:name=".MapsEstateList"
             android:noHistory="true"/>
         <activity android:name=".EditActivity"
             android:noHistory="true"
             />
        <activity android:name=".FavoriteActivity"/>
        <activity android:name=".CommentActivity"/>
        <activity android:name=".ModifyActivity"/>
        <activity android:name=".ModifyPostingActivity"/>
        <activity android:name=".BoardContentView"/>
        <activity android:name=".BoardShow"/>
        <activity android:name=".BoardEdit"/>
.    </application>

</manifest>
