<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csecau.capstone.homeseek">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyClpEw5IA9xDaIQAujnuFu4zr81iBefA5g" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegistrationActivity"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".BoardActivity"/>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".daumAddress"/>
        <activity android:name=".Picture_List_Activity"/>
        <activity android:name=".SearchwithmapActivity"/>
        <activity android:name=".MapsActivity"/>
        <activity android:name=".testposting"/>
        <activity android:name=".PostingActivity"/>
        <activity android:name=".UploadActivity"/>
    </application>

</manifest>